/*------------------------------------
# KANBAN
------------------------------------*/
.kanban-board {
  max-width: 100%;
  @include kanban_board;
  .kanban-column {
    @include kanban_column;
    &:not([style*="background"]) {
      background: transparent;
    }
    &[style*="background"] {
      background: grey; //TODO
    }
    .kanban-title {
      @include kanban_title;
    }
    .kanban-card {
      @include kanban_cards;
      .check-container {
        margin-bottom: 8px;
      }
    }
  }
}
