/*------------------------------------ GENERAL WORKSPACE ------------------------------------*/
/*------------------------------------
# LEFT SIDEBAR
------------------------------------*/
/*------------------------------------
# TOPBAR
------------------------------------*/

/*------------------------------------
# MAIN EDITOR
------------------------------------*/
/*------------------------------------
# RIGHT SIDEBAR
------------------------------------*/

/*------------------------------------ COMPONENTS ------------------------------------*/
/*-------------------------
# TYPOGRAPHY
-------------------------*/

/*------------------------------------
# BLOCKS
------------------------------------*/
/* block highlights */
@mixin block_regular {
  //todo
  background-color: transparent;
}
@mixin block_focused {
  padding: 0px;
  //todo set background
  border: 1px solid opacify($palette--accent-darker, 0.6);
  border-radius: 5px;
}

@mixin block_selected-main {
  /* selected block in main edit area */
  background-color: $palette_accent-darker;
}
@mixin block_selected-linked {
  /* selected block in linked referenced */
  background-color: pink;
  color: red !important;
}
@mixin block_selected-embed {
  /* embed block highlight */
  background-color: pink;
}
/*------------------------------------
# BIDIRECTIONAL LINKING
------------------------------------*/
@mixin attributes {
  @include font-bold;
}
@mixin tags {
  :hover {
  }
}
@mixin page-links_text {
  color: $palette--accent-lighter;
  &:hover,
  &:focus {
  }
}
@mixin page-links_brackets {
}

@mixin alias_internal {
}

@mixin alias_external {
}

@mixin hyperlink {
  //TODO
}

/* linked/unlinked references */
@mixin linked-ref_menu {
  @include setBorder(setContrast($background--main), 5);
}

/*------------------------------------
# POPUPS
------------------------------------*/
// menus
@mixin popup_menu($focus: none, $hover: none) {
  background-color: $background--popover !important;
  color: setContrast($background--popover);
  @if $focus is not none {
    #{$focus} {
      background-color: $background--popover-hover !important;
    }
  }
  @if $hover is not none {
    #{$hover} {
      background-color: $background--popover-hover;
    }
  }
}

@mixin popups {
  //todo
  // color: $popover-contrast;
  // background: $bg--popover;
  // fill: $bg--popover;
}
@mixin popups_buttons {
  // background: $page-filter-btns-text);
  // color: $page-filter-btns-bg);
  // &:hover {
  //   color: $page-filter-btns-text-hover) !important;
  //   background: $page-filter-btns-bg-hover);
  // }
}
@mixin popups_selected-item {
  background-color: $bg--popover-hover !important;
  color: white;
}

@mixin menus {
  background: $bg--popover;
}

@mixin menus_graph-dropdown {
  
}
/*-------------------------
# FEATURES
-------------------------*/
// code area
// kanban
@mixin kanban_board {
  padding: 2px;
  border: 1px solid $kanban-border;
  border-radius: $roundness;
  background: $bg-kanban;
}
@mixin kanban_column {
  border-radius: $roundness;
  padding: 2px;
  margin: 2px;
}
@mixin kanban_title {
  text-align: center;
  border-bottom: 1px solid $kanban-div;
  padding: 2px 8px;

  // hack
  min-height: 31px;
  max-height: 31px;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin kanban_cards {
  background: $bg-kanban-card;
  box-shadow: 0px 4px 7px -1px $bg-kanban-card-shadow;
  border-radius: $roundness;
  border: 1px solid $kanban-div;
  padding: 6px 10px;
  margin: 0px 6px 12px;
  font-size: 14px;
}
// table
// datepicker
