/*------------------------------------
# THEME
------------------------------------*/
:root {
  --color-subtle: #{color.change($palette_theme, $alpha: 0.5)};
  --bg-main-color: #{$palette_theme};
  --bg-secondary-color: #{$palette_theme_lighter};
  --text-color: #{setContrast($palette_theme)};
}

/*------------------------------------
# general layout
------------------------------------*/
:root {
  --leftbar_width: 195px; // perfect size to fit "graph overview" horizontally
  --topbar_height: 45px; // default
  --editor-margin: 20px 30px;
  --roundness: 5px;
}
/*------------------------------------
# general appearance
------------------------------------*/
:root {
  --bg--left: #{$palette_theme-darker};
  --bg--topbar: #{$palette_theme};
  --bg--right: #{$palette_theme-lighter};
  --right-title-color: #{setContrast($palette_theme-lighter)};
}
/*------------------------------------
# text
------------------------------------*/
:root {
  --bullet-color: #{$palette_accent};
  --bullet-closed-border: 4px solid #{$palette_accent-darker};
  --tree-vertline: 1px solid #{setContrast($palette_theme)};
  /*--bullet-position: ;*/
}

.checkmark {
  --checkmark-top: -1px;
  --checkmark-left: -2px;
  --checkmark-height: 14px;
  --checkmark-width: 14px;
  --checkmark-border-radius: 4px;

  --border-notdone: 1px solid #{$palette_black};
  --bg-notdone: #{opacify($palette_white, 0.5)};

  --border-done: 1px solid #{$palette_white};
  --bg-done: #{$palette_accent};

  --symbol-color: #{setContrast($palette_theme)};
  --symbol: "✔";
}

/*------------------------------------
# components
------------------------------------*/
.roam-body .roam-app .roam-sidebar-content {
  // --bg--shortcuts: linear-gradient(green, black);
  --color-divline: #{setContrast($palette_theme)};
  --color-text: #{$palette_accent-lighter};
  --color-text-hover: #{$palette_accent-darker};
}

.roam-body .roam-app .roam-topbar {
  --icons-placement: flex-end;
  --searchbar-height: 45px;
  --searchbar-width: 500px;
  --searchbar-left: 55vw;
  --searchbar-top: 27vh;
  --searchbar-padding-tb: 10px;
  --searchbar-padding-lr: 20px;
  --searchbar-font: 20px;
}

/*------------------------------------
# sections
------------------------------------*/
:root {
  --allpage-bottom-border-color: #2d3133;
  --pages-header-row: $palette_white;
  --pages-mentions-level-bg: #3c96ff;
  --pages-mentions-level1-bg: #3d71ff;
  --pages-mentions-level2-bg: #3c50ff;
  --pages-mentions-font-color: grey;
}

/*------------------------------------
# components
------------------------------------*/
:root {
  --icons-bg-regular: #{$palette_accent};
  --icons-bg-hover: #{$palette_accent-lighter};
  --icon-color: #{setContrast($palette_accent)};
  --icons-size: 24px;

  --checkmark-notdone-color: #{$palette_accent};
  --checkmark-done-color: #{$palette_accent-darker};
}

.bp3-menu,
.bp3-popover,
.bp3-elevation-3 {
  --bg--popover: #{$palette_accent};
  --bg--popover-hover: #{$palette_accent-lighter};
  --popover-contrast: #{setContrast($palette_accent)};

  --page-filter-btns-text: var(--bg--popover-contrast);
  --page-filter-btns-bg: radial-gradient(var(--bg--popover), white);
  --page-filter-btns-text-hover: $palette_theme
  --page-filter-btns-bg-hover: radial-gradient(var(--bg--popover), black);
}

.kanban-board {
  --bg-kanban-card: #{$palette_theme};
  --bg-kanban-card-shadow: #{$palette_theme-darker};
  --bg-kanban-col-drag: #{$palette_theme-lighter};
  --bg-kanban: transparent;
  --kanban-div: #{setContrast($palette_theme)};
  --kanban-border: #{setContrast($palette_theme)};
}
