@import "utils";

@import "./palettes/light-palette.scss";

@media (prefers-color-scheme: dark) {
  @import "./palettes/dark-palette.scss";
}
@import "./palettes/custom.scss";

:root {
  /*** LAYOUT ***/
  --leftbar_width: 200px;

  // background colors
  --bg--topbar: var(--theme-darker);
  --bg--left: var(--theme-darker);
  --bg--main: var(--theme-darker);
  --bg--right: var(--theme);

  --bg--shortcuts: linear-gradient(--bg--left 30%, var(--theme-lighter 90%, --bg--left));

  --bg--block-regular: var(--theme-darker);
  --bg--block-highlight: var(--accent-lighter);
  --bg--checkmark-checked: var(--grey);
  --bg--checkmark-nonchecked: var(--accent);
  --bg--popover: var(--theme-darker);
  --bg--popover-hover: var(--accent-lighter);
  --bg--menus: var(--theme-darker);

  // text colors
  --textcolor--pagelinks: var(--accent-lighter);
  --textcolor--references: var(--white);
  --textcolor--body: var(--white);
  --textcolor--title: var(--white);
  --textcolor--heading1: var(--white);
  --textcolor--heading2: var(--white);
  --textcolor--heading3: var(--white);
  --textcolor--popover: var(--white);
  --textcolor--bold: var(--white);
  --textcolor--italics: var(--white);
  --textcolor--attribute: var(--accent-lighter);
  --text_highlight-padding: 3px 2px;

  --hover--pagelinks: var(--accent-lighter);
  --hover--references: var(--white);
  --hover--body: var(--white);
  --hover--title: var(--white);
  --hover--heading1: var(--white);
  --hover--heading2: var(--white);
  --hover--heading3: var(--white);
  --hover--popover: var(--white);
  --hover--bold: var(--white);
  --hover--italics: var(--white);
  --hover--attribute: var(--accent-lighter);

  --textcolor--highlight: var(--white);
  --bg--highlight: var(--accent);

  --color--icons: var(--white);
  --color--bullet: var(--white);

  --border--checkmark: var(--accent);
  --border--bullet: var(--white);
  --border--nestline: var(--white);
}

@import "./sections/topbar.scss";
@import "./sections/sidebar-left.scss";
@import "./sections/sidebar-right.scss";
@import "./sections/general-workspace.scss";

@import "./hacks/layout.scss";

@import "./components/style.scss";
@import "./components/bullets.scss";
@import "./components/tags.scss";
@import "./components/kanban.scss";
@import "./components/tables.scss";
@import "./components/datepicker.scss";

@import "./hacks/fixed-text.scss";
@import "./hacks/glyph.scss";
@import "./hacks/shift-bullets.scss";
