// HACK - so titles won't shift
:root {
  --title-size: 40px;

  --heading1-size: 22px;
  --heading1-margin: -2px;

  --heading2-size: 20px;
  --heading2-margin: -2px;

  --heading3-size: 18px;
  --heading3-margin: -1px;
}

.rm-title-display,
.rm-title-textarea,
.roam-log-page h1.level2 {
  height: auto !important;
  line-height: 1.5 !important;
  font-size: var(--title-size) !important;
  font-weight: 600 !important;
}

.rm-heading-level-1 > .rm-block-main span {
  line-height: var(--heading1-size);
  margin-top: var(--heading1-margin) !important;
}
.rm-heading-level-1 > .rm-block-main div,
.rm-heading-level-1 > .rm-block-main textarea {
  font-size: var(--heading1-size) !important;
  line-height: 1.5 !important;
  font-weight: 600 !important;
}

.rm-heading-level-2 > .rm-block-main span {
  line-height: var(--heading2-size);
  margin-top: var(--heading2-margin) !important;
}
.rm-heading-level-2 > .rm-block-main div,
.rm-heading-level-2 > .rm-block-main textarea {
  font-size: var(--heading2-size) !important;
  line-height: 1.5 !important;
  font-weight: 600 !important;
}

.rm-heading-level-3 > .rm-block-main span {
  line-height: var(--heading3-size);
  margin-top: var(--heading3-margin) !important;
}
.rm-heading-level-3 > .rm-block-main div,
.rm-heading-level-3 > .rm-block-main textarea {
  font-size: var(--heading3-size) !important;
  line-height: 1.5 !important;
}
