/*------------------------------------
#
# TOPBAR
#
------------------------------------*/
.roam-topbar {
  /*** LAYOUT ***/
  --searchbar-height: 45px;
  /*** AESTHETICS ***/
  --searchbar-width: 500px;
  --searchbar-left: 55vw;
  --searchbar-top: 27vh;
  --searchbar-padding-tb: 10px;
  --searchbar-padding-lr: 20px;
  --searchbar-font: 20px;
}
:root {
  --icons-regular: red;
  --icons-hover: blue;
  --icons-size: 24px;
}

// style topbar
.roam-topbar {
  background: #14232a;
  color: white;
}

// HACK
// remove useless divs
// TODO keep the one between left sidebar icon and other icons
.roam-topbar .flex-h-box > div[style^="flex"]:not([class]) {
  display: none;
}

/* make search popover */
.roam-topbar > .flex-h-box {
  .rm-find-or-create-wrapper {
    input#find-or-create-input:focus,
    .bp3-overlay {
      opacity: 1 !important;

      /* match position */
      position: fixed !important;
      left: var(--searchbar-left);

      /* place at front of page */
      z-index: 999999;

      /* center */
      transform: translate(-50%, 0);
    }
    input#find-or-create-input:focus {
      box-sizing: content-box;
      top: var(--searchbar-top);
      height: var(--searchbar-height) !important;
      width: var(--searchbar-width) !important;
      font-size: var(--searchbar-font);
      padding: var(--searchbar-padding-tb) var(--searchbar-padding-lr); // padding around flace holder text
      /* if input is empty (no menu) then use all-around border-radius*/
      &[value=""] {
        border-radius: 10px;
      }
      border-radius: 10px 10px 0px 0px;
      // border: 1px solid var(--divider-color); /* CRL EDIT */
      box-shadow: 0 0 0 200vh rgba(0, 0, 0, 0.07);
    }
    .bp3-overlay {
      top: calc(var(--searchbar-top) + var(--searchbar-height) + 2 * var(--searchbar-padding-tb));
      width: calc(var(--searchbar-width) + 2 * var(--searchbar-padding-lr));
      > .bp3-transition-container {
        transform: none !important; // turn off animation
      }
      .bp3-popover {
        // box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2),
        //   0 8px 24px rgba(16, 22, 26, 0.2);
        box-shadow: none;
        &,
        & > .bp3-popover-content,
        & > .bp3-popover-content > .bp3-menu {
          border-radius: 0px 0px 10px 10px !important;
        }
      }
    }
  }
}

/* make all elements look like a button */
.roam-topbar .flex-h-box {
  justify-content: center; // icons placement

  > div,
  > span {
    height: var(--icons-size);
    width: var(--icons-size);
    margin: 5px; //icons margin
  }
  .rm-saving-icon {
    height: var(--icons-size);
    width: var(--icons-size);
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
  }
  .rm-saving-inner-icon {
    height: 10px !important;
    width: 10px !important;
  }
  // search
  .rm-find-or-create-wrapper {
    flex: unset !important;
    input#find-or-create-input {
      opacity: 0;
      z-index: 10000; /* bring in front of icon to keep clickable */
      width: var(--icons-size) !important;
      height: var(--icons-size) !important;
      padding: 0px;
      margin: 0px;
      cursor: pointer;
    }
    .bp3-icon-search.search-icon {
      // background: red;
      border-radius: 3px;
      padding: 4px;
      margin: 0px !important;
      // pointer-events: hover;
    }
  }
  // filter
  // .bp3-icon-filter {
  //   width: var(--icons-size);
  //   height: var(--icons-size);
  //   border-radius: 3px;
  //   &:before {
  //     position: relative;
  //     top: 3px;
  //     left: 3px;
  //   }
  // }
  // other buttons
  .bp3-button {
    height: var(--icons-size);
    width: var(--icons-size);
  }
  //icon color
  [class~="bp3-icon"],
  .bp3-button.bp3-minimal {
    &:before {
      color: white;
      background: transparent;
    }
  }
  [class~="bp3-icon"]:not(.bp3-icon-filter),
  .bp3-button.bp3-minimal {
    background: var(--icons-regular) !important;
    &:hover {
      background: var(--icons-hover) !important;
    }
  }
}
