/*------------------------------------
# BLOCKS
------------------------------------*/
.rm-block,
.roam-block,
.rm-block-children,
.roam-block-container {
  .rm-not-focused {
    /* regular block */
    background-color: transparent;
  }
  .rm-focused {
    /* focused block */
    /* i.e. when tyging inside */
    padding: 0px;
    // maybe style highlight child blocks too?
    // & #{var(--rm-block-selector} {
  }
  .block-highlight-blue {
    /* selected block in main edit area */
    background-color: var(--block-highlight-main);
  }
  .block-highlight-yellow {
    /* selected block in linked referenced */
    background-color: var(--block-highlight-linked);
    span {
      color: var(--block-highlight-linked-text) !important;
    }
  }
  .rm-embed-container {
    /* embed block highlight */
    background-color: var(--block-highlight-embed);
  }
}

// remove first level line
.rm-level-1 > .block-border-left {
  border-left: none !important;
}
