/*------------------------------------
# KANBAN
------------------------------------*/
.kanban-board {
  max-width: 100%;
  padding: 2px;
  border: 1px solid var(--kanban-border);
  border-radius: var(--roundness);
  background: var(--bg-kanban);
  .kanban-column {
    border-radius: var(--roundness);
    padding: 2px;
    margin: 2px;
    &:not([style*="background"]) {
      background: transparent;
    }
    &[style*="background"] {
      background: var(--bg-kanban-col-drag);
    }
    .kanban-title {
      text-align: center;
      border-bottom: 1px solid var(--kanban-div);
      padding: 2px 8px;

      // hack
      min-height: 31px;
      max-height: 31px;
      font-size: 14px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .kanban-card {
      background: var(--bg-kanban-card);
      box-shadow: 0px 4px 7px -1px var(--bg-kanban-card-shadow);
      border-radius: var(--roundness);
      border: 1px solid var(--kanban-div);
      padding: 6px 10px;
      margin: 0px 6px 12px;
      font-size: 14px;
      .check-container {
        margin-bottom: 8px;
      }
    }
  }
}
