/*------------------------------------
# TEXT
------------------------------------*/
.roam-body .roam-app {
  h1,
  .rm-block-main {
    color: var(--text-color);
  }
}

.rm-title-display,
.rm-title-textarea,
.roam-log-page h1.level2 {
  height: auto !important;
  line-height: 1.5 !important;
  font-size: 26px !important;
  font-weight: 600 !important;
}

.rm-heading-level-1 > .rm-block-main {
  span {
    margin-top: -2px !important;
  }
  div,
  textarea {
    font-size: 22px !important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
  }
}

.rm-heading-level-2 > .rm-block-main {
  span {
    margin-top: -2px !important;
  }
  div,
  textarea {
    font-size: 20px !important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
  }
}

.rm-heading-level-3 > .rm-block-main {
  span {
    margin-top: -1px !important;
  }
  div,
  textarea {
    font-size: 18px !important;
    line-height: 1.5 !important;
  }
}

/*---------------------------------- 
    #BULLETS & NEST LINE
------------------------------------*/
.controls .opacity-none,
.rm-block__controls .opacity-none {
  opacity: 0.3;
}

.rm-bullet__inner {
  /* bullet */
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--bullet-color);
}
.rm-bullet.rm-bullet--closed .rm-bullet__inner,
.sidebar-content .rm-bullet.rm-bullet--closed .rm-bullet__inner /* collapsed bullet's in right sidebar */ {
  /* collapsed bullet */
  border: var(--bullet-closed-border);
}

/* nest diagram line */
.block-border-left {
  border-left: var(--tree-vertline);
}

/*---------------------------------- 
  #TODO 
------------------------------------*/
.check-container {
  .checkmark {
    /* todo */
    position: absolute;
    top: var(--checkmark-top);
    left: var(--checkmark-left);
    height: var(--checkmark-height);
    border-radius: var(--checkmark-border-radius);
    width: var(--checkmark-width);
    border: var(--checkmark-border);
    background-color: var(--checkmark-bg-color);
  }
  input:checked ~ .checkmark {
    /* done */
    // position: absolute;
    // top: var(--checkmark-top);
    // left: var(--checkmark-left);
    // height: var(--checkmark-height);
    // border-radius: var(--checkmark-border-radius);
    // width: var(--checkmark-width);
    border: var(--border-done);
    background-color: var(--bg-done);
  }
  .checkmark:after {
    /* done check symbol */
    content: var(--symbol);
    color: var(--symbol-color);
    left: 0px;
    top: -1px;
    border: none;
    transform: rotate(-10deg) scale(0.5);
  }
}
:root {
  --tag-font-color: #515355;
  --tag-bg-color: #24272a;
  --tag-border-radius: 10px;
  --tag-border: 1px solid #35373996;
  --tag-padding: 1px 5px 2px;
  --tagHover-font-color: #484a4c;
  --tagHover-bg-color: #2d3033;
  --tagHover-border: 1px solid #44464887;
}
/*------------------------------------
#
# BIDIRECTIONAL LINKING
#
------------------------------------*/
/*------------------------------------
# TAGS
------------------------------------*/
.rm-page-ref-tag {
  color: var(--tag-font-color) !important;
  font-weight: 400;
  background-color: var(--tag-bg-color);
  border-radius: var(--tag-border-radius);
  border: var(--tag-border);
  padding: var(--tag-padding);
  text-decoration: none;
}
.rm-page-ref-tag:hover {
  color: var(--tagHover-font-color) !important;
  font-weight: 400;
  background-color: var(--tagHover-bg-color);
  border-radius: var(--tag-border-radius);
  border: var(--tagHover-border);
  padding: var(--tag-padding);
  text-decoration: none;
}
/*------------------------------------
# ATTRIBUTE
------------------------------------*/
.rm-attr-ref {
}
/*------------------------------------
# Page Links
------------------------------------*/
.rm-page-ref {
  &--link {
    /* linked page name text */
    color: setContrast($palette_theme);
  }
  &__brackets {
    /* linked page brackes */
    color: opacify(setContrast($palette_theme), 0.3);
  }
}
/*------------------------------------
# Alias
------------------------------------*/
.rm-alias {
  & &--page {
    /* internally linked alias */
    color: setContrast($palette_theme);
    &:hover {
      color: blue;
    }
  }
  & &--external {
    /* externally linked alias */
    color: pink;
    &:hover {
      color: red;
    }
  }
}

/*------------------------------------
# Linked/Unlinked References
------------------------------------*/
.rm-reference-main {
  --ref-header-color: white;
  --ref-header-underline-color: red;

  --ref-item-page-color: white;
  --ref-item-parent-color: white;
  --ref-item-bg: blue;
  --ref-item-border-radius: var(--roundness);
  --ref-item-border: 1px solid white;
}

.rm-reference-main {
  border: 1px solid white;

  .rm-reference-container
    > .flex-h-box
    > div[style*="color: rgb(206, 217, 224);"]:nth-child(3)
    strong {
    /* "Linked/Unlinked References" reference block header */
    color: var(--ref-header-color);
    border-bottom: 1px solid var(--ref-header-underline-color);
  }
  .rm-ref-page-view {
    /* linked page */
    .rm-page__title {
      color: var(--ref-item-page-color);
    }
    .parent-path-wrapper {
      color: var(--ref-item-parent-color);
    }
  }
  .rm-reference-item {
    background: $palette_accent-darker;
    color: setContrast($palette_accent-darker);
    /* footer reference box apperance */

    background-color: var(--ref-item-bg);
    border-radius: var(--ref-item-border-radius);
    border: var(--ref-item-border);
  }
}
