/*------------------------------------
# BLOCKS
------------------------------------*/
/* block highlights */
/* block highlights */
.rm-block, .roam-block, .roam-block-container {
  /* regular block */
  /* focused block */
  /* selected block in main edit area */
  /* selected block in linked referenced */
}
.rm-block .rm-not-focused, .roam-block .rm-not-focused, .roam-block-container .rm-not-focused {
  background-color: transparent;
}
.rm-block .rm-focused, .roam-block .rm-focused, .roam-block-container .rm-focused {
  padding: 0px;
  /* i.e. when tyging inside */
}
.rm-block .block-highlight-blue, .roam-block .block-highlight-blue, .roam-block-container .block-highlight-blue {
  /* selected block in main edit area */
  background-color: var(--accent-darker);
}
.rm-block .block-highlight-blue, .roam-block .block-highlight-blue, .roam-block-container .block-highlight-blue {
  /* block selection */
  background-color: var(--block-highlight);
}
.rm-block .block-highlight-yellow, .roam-block .block-highlight-yellow, .roam-block-container .block-highlight-yellow {
  /* block highlight */
  /* selected block in linked referenced */
  background-color: var(--block-highlight-bg);
}
.rm-block .rm-embed-container, .roam-block .rm-embed-container, .roam-block-container .rm-embed-container {
  /* embed block highlight */
  /* embed block highlight */
  background-color: var(--embed-container-bg);
}

.block-highlight-blue {
  background-color: var(--selection-color) !important;
}

/*--- Block References ---*/
