/*------------------------------------
# POPUPS
------------------------------------*/

:root {
  --bg--popover: pink;
  --bg--popover-hover: red;
  --bg--popover-contrast: white;
}

// all popoevers
.bp3-popover {
  color: var(--theme);
  background: var(--bg--popover);
  & > &-content {
    background-color: var(--bg--popover);
    color: var(--bg--popover-contrast);
  }
  & &-arrow {
    &-fill {
      fill: var(--bg--popover); // background
    }
    &-border {
      fill: var(--bg--popover-contrast); //tiny border
    }
  }
  .bp3-button {
    // tag selection buttons in page filter
    background: radial-gradient(var(--bg--popover), white); // add dimension to buttons
    color: var(--bg--popover-contrast);
    &:hover {
      color: blue !important; //TODO make variable
      background: radial-gradient(var(--bg--popover), black);
    }
  }
}

.bp3-menu {
  // code-area language menu
  background-color: var(--bg--popover) !important;
  color: var(--bg--popover-contrast);
  .bp3-menu-item {
    color: white;
  }
}
.bp3-elevation-3 {
  // slash menu
  background-color: var(--bg--popover) !important;
  color: var(--bg--popover-contrast);
  .dont-unfocus-block[style*="background"] {
    background-color: var(--bg--popover-hover) !important;
  }
}

// dunno yet
.bp3-elevation-3,
.confirmation-content-dialog,
.bp3-dialog {
  background: var(--popup-background-color) !important;
}
.bp3-elevation-3 {
  // Selection in the menus
  div.dont-unfocus-block[style*="background"] {
    background: var(--secondary-background-color) !important;
  }
}
.bp3-dialog h2.level2 {
  color: var(--c1) !important;
}
