/*------------------------------------
# POPUPS
------------------------------------*/
:root {
  --bg--popover: pink;
  --bg--popover-hover: red;
  --bg--popover-contrast: white;
}

.bp3-popover {
  color: var(--theme);
  background: var(--bg--popover);
}
.bp3-popover > .bp3-popover-content {
  background-color: var(--bg--popover);
  color: var(--bg--popover-contrast);
}
.bp3-popover .bp3-popover-arrow-fill {
  fill: var(--bg--popover);
}
.bp3-popover .bp3-popover-arrow-border {
  fill: var(--bg--popover-contrast);
}
.bp3-popover .bp3-button {
  background: radial-gradient(var(--bg--popover), white);
  color: var(--bg--popover-contrast);
}
.bp3-popover .bp3-button:hover {
  color: blue !important;
  background: radial-gradient(var(--bg--popover), black);
}

.roam-body .roam-app .bp3-menu,
.roam-body .roam-app .roam-sidebar-container .bp3-menu {
  background: pink;
  background-color: var(--bg--popover) !important;
  color: var(--bg--popover-contrast);
}
.roam-body .roam-app .bp3-menu.rm-graph-dropdown .menu-title,
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .menu-title {
  color: blue;
}
.roam-body .roam-app .bp3-menu.rm-graph-dropdown .menu-item,
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .menu-item {
  color: red;
}
.roam-body .roam-app .bp3-menu.rm-graph-dropdown .setting a,
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .setting a {
  color: blue;
}
.roam-body .roam-app .bp3-menu.rm-graph-dropdown .setting:hover,
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .setting:hover {
  color: red;
}
.roam-body .roam-app .bp3-menu.rm-graph-dropdown .signout,
.roam-body .roam-app .roam-sidebar-container .bp3-menu.rm-graph-dropdown .signout {
  color: blue;
}
.roam-body .roam-app .bp3-menu .bp3-menu-item,
.roam-body .roam-app .roam-sidebar-container .bp3-menu .bp3-menu-item {
  color: white;
}

.bp3-elevation-3 {
  background-color: var(--bg--popover) !important;
  color: var(--bg--popover-contrast);
}
.bp3-elevation-3 .dont-unfocus-block[style*=background] {
  background-color: var(--bg--popover-hover) !important;
}
