@charset "UTF-8";
/* Credits */
.roam-topbar > div > div:last-child ul.bp3-menu:after {
  content: "theme by @RainbowCat 🍀";
  width: 160px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.4;
  padding: 7px;
  opacity: 0.6;
  color: var(--text-color);
}
