/*------------------------------------
# TEXT
------------------------------------*/
.roam-body .roam-app h1,
.roam-body .roam-app .rm-block-main {
  color: var(--text-color);
}

.rm-title-display,
.rm-title-textarea,
.roam-log-page h1.level2 {
  height: auto !important;
  line-height: 1.5 !important;
  font-size: 26px !important;
  font-weight: 600 !important;
}

.rm-heading-level-1 > .rm-block-main span {
  margin-top: -2px !important;
}
.rm-heading-level-1 > .rm-block-main div,
.rm-heading-level-1 > .rm-block-main textarea {
  font-size: 22px !important;
  line-height: 1.5 !important;
  font-weight: 600 !important;
}

.rm-heading-level-2 > .rm-block-main span {
  margin-top: -2px !important;
}
.rm-heading-level-2 > .rm-block-main div,
.rm-heading-level-2 > .rm-block-main textarea {
  font-size: 20px !important;
  line-height: 1.5 !important;
  font-weight: 600 !important;
}

.rm-heading-level-3 > .rm-block-main span {
  margin-top: -1px !important;
}
.rm-heading-level-3 > .rm-block-main div,
.rm-heading-level-3 > .rm-block-main textarea {
  font-size: 18px !important;
  line-height: 1.5 !important;
}

.rm-title-untitled,
#block-input-ghost > span,
textarea::placeholder {
  color: var(--color-subtle) !important;
}

.rm-page-ref-tag {
  color: #9099a1 !important;
}

span.checkmark {
  top: -2px;
}

.rm-embed-container {
  border-radius: 6px !important;
}

.rm-reference-item {
  background: blue !important;
  border: 1px solid var(--color-subtle) !important;
  border-radius: 6px !important;
  padding: 8px 10px 8px 2px !important;
}
.rm-reference-item .rm-block-text {
  font-size: 18px !important;
}

.rm-full-width {
  margin-right: 0 !important;
}

.rm-block-ref {
  border-bottom: 0.5px solid var(--color-subtle) !important;
}
.rm-block-ref:hover {
  background: red !important;
}

.rm-reference-main div > strong {
  color: gray !important;
}
