/*------------------------------------
# THEME
------------------------------------*/
$gunmetal: hsla(199, 35%, 12%, 1);
$charcoal: hsla(197, 37%, 24%, 1);
$persian-green: hsla(173, 58%, 39%, 1);
$seashell: hsla(34, 80%, 96%, 1);
$orange-yellow-crayola: hsla(43, 73%, 68%, 1);
$sandy-brown: hsla(27, 87%, 67%, 1);
$burnt-sienna: hsla(12, 76%, 61%, 1);

$palette_theme: $persian-green;
$palette_theme-lighter: $charcoal;
$palette_theme-darker: $gunmetal;

$palette_contrast: $seashell;

$palette_accent: $orange-yellow-crayola;
$palette_accent-lighter: $sandy-brown;
$palette_accent-darker: $burnt-sienna;

$palette_black: hsl(0, 0%, 13%);
$palette_white: hsl(0, 0%, 100%);
$palette_grey: hsl(0, 0%, 96%);

:root {
  --color-subtle: #{color.change($palette_theme, $alpha: 0.5)};
  --text-color: #{$palette_contrast};
  --bg-main-color: #{$palette_theme};
  --bg-secondary-color: #{$palette_theme_lighter};
  // linear-gradient(red, blue)
}

/*------------------------------------
# general workspace
------------------------------------*/
:root {
  --leftbar_width: 195px; // perfect size to fit "graph overview" horizontally
  --topbar_height: 45px; // default
  --editor-margin: 20px 30px;
  --roundness: 5px;
}
.roam-body .roam-app .roam-sidebar-content {
  --bg--left: #{$palette_black};
  // --bg--shortcuts: linear-gradient(green, black);
  --color-divline: #{utils.setContrast($palette_theme)};
  --color-text: #{$palette_accent-lighter};
  --color-text-hover: #{$palette_accent-darker};
}

.roam-body .roam-app .roam-topbar {
  /*** LAYOUT ***/
  --searchbar-height: 45px;
  /*** AESTHETICS ***/

  --bg--topbar: $palette_black;

  --searchbar-width: 500px;
  --searchbar-left: 55vw;
  --searchbar-top: 27vh;
  --searchbar-padding-tb: 10px;
  --searchbar-padding-lr: 20px;
  --searchbar-font: 20px;
}
/*------------------------------------
# sections
------------------------------------*/
:root {
  --allpage-bottom-border-color: #2d3133;
  --pages-header-row: white;
  --pages-mentions-level-bg: #3c96ff;
  --pages-mentions-level1-bg: #3d71ff;
  --pages-mentions-level2-bg: #3c50ff;
  --pages-mentions-font-color: grey;
}

/*------------------------------------
# big components
------------------------------------*/
.bp3-menu,
.bp3-popover,
.bp3-elevation-3 {
  --bg--popover: #{$palette_accent-lighter};
  --bg--popover-hover: red;
  --bg--popover-contrast: white;
  --text-popover: #{$palette_theme};

  --page-filter-btns-text: var(--bg--popover-contrast);
  --page-filter-btns-bg: radial-gradient(var(--bg--popover), white);
  --page-filter-btns-text-hover: blue;
  --page-filter-btns-bg-hover: radial-gradient(var(--bg--popover), black);
}

.kanban-board {
  --bg-kanban-card: #{$palette_theme};
  --bg-kanban-card-shadow: #{$palette_theme-darker};
  --bg-kanban-col-drag: #{$palette_theme-lighter};
  --bg-kanban: transparent;
  --kanban-div: white;
  --kanban-border: white;
}

/*------------------------------------
# small components
------------------------------------*/
:root {
  --icons-regular: #{$palette_accent};
  --icons-hover: #{$palette_accent-lighter};
  --icons-size: 24px;

  --checkmark-notdone-color: #{$palette_theme};
  --checkmark-done-color: #{$palette_accent-lighter};
}
