:root {
  --theme: $charcoal;
  --theme-lighter: $persian-green;
  --theme-darker: $gunmetal;
  --neutral: $orange-yellow-crayola;
  --neutral-lighter: $seashell;
  --neutral-darker: $sandy-brown;
  --accent: $burnt-sienna;
  --accent-lighter: $orange-yellow-crayola;
  --accent-darker: $orange-yellow-crayola;
  --black: #222222;
  --white: #ffffff;
  --grey: #f5f5f5;
}
